@import "mkcins";
@import "reset";
@import "standard";

@include keyframes(text-fold-in){
	from {
		@include rotateX(110deg);
	}

	to {
		@include rotateX(0deg);
	}
}

body {
	background-color: #252a33;
	height:100vh;

	.navigation {
		position: relative;
		z-index: 1;

		// The hamburger
		.hamburger {
			$padding: 15px;

			background-color: rgba(#000, 0.2);
			cursor: pointer;
			padding: $padding;
			position: fixed;
			top: 0;
			left: 0;
			height: 60px;
			width: 60px;
			z-index: 10000;
			-webkit-tap-highlight-color: transparent;
			@include transition(all 300ms ease);
			@include user-select(none);

			@mixin line() {
				background-color: #fff;
				height: 3px;
				position: absolute;
			}

			.line {
				top:40px;
				left: $padding;
				right: $padding;
				width: 30px;
				@include translate(0, -50%);
				@include line;

				&:before,
				&:after {
					content: '';
					left: 0;
					width: 100%;
					@include line;
				}

				&:before {
					bottom: calc(100% + 5px);
				}

				&:after {
					top: calc(100% + 5px);
				}
			}
		}

		nav {
			top:100px;
			position: fixed;
			@include transition(all 300ms ease);
			@include translate3d(-200px, 0, 100px);

			ul {
				list-style:none;

				li {
					margin-bottom: 20px;

					a {
						color: #fff;
						display: block;
						font-size: 34px;
						padding: 5px;
					}
				}
			}
		}

	} // .navigation

	.sections {
		overflow: hidden;
		@include perspective(3000px);

		section {
			min-height:100vh;
			position: relative;
			width:100%;
			@include transition(all 300ms ease);

			.container {
				margin: 0 auto;
				min-width: 960px;
				max-width: 1400px;
				padding: 50px 0;

				.title {
					font-family: 'Lato';
					font-size: 98px;
					font-weight: 100;
					text-align: center;
					position: relative;

					&::before,
					&::after {
						border-bottom: 1px dotted #f55;
						content: '';
						height: 1px;
						position: absolute;
						top: 50%;
						width: 25%
					}

					&::before {
						left: 0;
					}

					&::after {
						right: 0;
					}
				}

				h2 {
					font-size: 30px;
					font-weight: 300;
				}

				p {
					color: #666;
					margin: 10px 0;
				}

			} // .container

			// Intro section
			&#intro {
				background-color: darken(#385B7F,40%);
				@include transform-style(preserve-3d);

				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}

				// bg image
				&:before {
					background: url(../images/intro-bg.jpg) center;
					background-size: cover;
				}

				// bg overlay
				&:after {
					background-color: rgba(#385B7F,0.3);
				}

				.text {
					position: absolute;
					bottom: 20%;
					right: 20%;
					text-align: right;
					z-index: 1;
					@include transform-style(preserve-3d);
					@include translate3d(0,-50%, 100px);

					.title,
					.sub-title {
						background-color: rgba(#31343F,0.5);
						font-weight: 100;
						@include backface-visibility(hidden);
						@include transform-origin(50%,0);
					}

					.title {
						color: #fff;
						display: inline-block;
						font-size: 78px;
						padding: 10px 25px;
						@include animation(text-fold-in 700ms ease 300ms 1 both);
					}

					.sub-title {
						color: #fff;
						font-size: 34px;
						font-weight: 300;
						margin-top: 10px;
						padding: 10px 15px;
						@include animation(text-fold-in 700ms ease 700ms 1 both);

						.location {
							color: #ff4f79;
						}
					}
				}
			}

			// Work section
			&#work {
				@include gradient-radial(#fff,#ddd);

				.container {
					@include perspective(2000px);
					@include transform-style(preserve-3d);
					@include backface-visibility(hidden);
					$translate-z-value: 500px;

					.tiles {
						margin-top: 50px;
						position: relative;
						@include transform-style(preserve-3d);
						@include transition(all 300ms ease);

						.tile {
							border-radius: 3px;
							box-shadow: 0 0 3px rgba(#000,0.1);
							cursor: pointer;
							float: left;
							margin: 10px;
							width: calc(33.33% - 20px);
							@include transition(all 300ms ease);

							img {
								display: block;
								width: 100%;
							}

							&:hover {
								@include translateZ(50px);
							}
						}

						// When an item is clicked
						&.focus-active {
							@include translateZ(-$translate-z-value);

							.tile {
								opacity: 0.05;
								@include translateZ(-1px);
							}

							.focus {
								opacity: 1;
								pointer-events: all;
							}
						}

						.focus {
							background-color: rgba(#fff,0.6);
							box-shadow: 0 1px 5px rgba(#000,0.1);
							top: 0;
							right: 0;
							left: 0;
							opacity: 0;
							padding: 30px;
							padding-bottom: 140px;
							pointer-events: none;
							position: absolute;
							@include backface-visibility(hidden);
							@include transition(all 300ms ease);
							@include translateZ($translate-z-value);

							// Focused image container
							figure {
								box-shadow: 0 1px 5px rgba(#000,0.1);
								display: inline-block;
								margin-right: 30px;
								vertical-align: top;
								width: 500px;

								a {
									display: block;
									@include transition(all 300ms ease);

									img {
										display: block;
										width: 100%;
									}
								}
							}

							article {
								display: inline-block;
								padding-bottom: 70px;
								position: relative;
								vertical-align: top;

								h1 {
									font-size: 40px;
									font-weight: 300;
								}

								.badges {
									display: none;
									position: absolute;
									bottom: 0;
									@include clearfix;

									.badge {
										background-color: #fff;
										border:1px solid #bbc1cc;
										border-radius: 50%;
										color: #6e7f95;
										float: left;
										margin-right: 10px;
										font-size: 25px;
										position: relative;
										height: 50px;
										width: 50px;
										@include transition(all 300ms ease);

										i {
											position: absolute;
											left: 50%;
											top: 50%;
											@include translate(-50%,-50%);
										}

										&:hover {

											&.html {
												$color: #f55;
												border-color: $color;
												color: $color;
											}

											&.css {
												$color: #0499d7;
												border-color: $color;
												color: $color;
											}

											&.audio {
												$color: #17b153;
												border-color: $color;
												color: $color;
											}

											&.video {
												$color: #fba600;
												border-color: $color;
												color: $color;
											}
										}
									} // .badges .badge
								} // .badges
							} // article


							// Focused item bottom bar
							nav {
								background: #31343F;
								position: absolute;
								right: 0;
								bottom: 0;
								left: 0;
								padding: 22px;

								.button {
									border: 1px solid;
									border-radius: 5px;
									cursor: pointer;
									display: inline-block;
									padding: 5px 10px;
									@include user-select(none);

									&:hover {
										background-color: lighten(#31343F,3%);
									}

									&.back {
										border-color: $color-hyperlink;

										&:hover {
											border-color: lighten($color-hyperlink, 5%);
											color: lighten($color-hyperlink, 5%);
										}
									}

									&.github {
										$git-color: #26a0d9;
										border-color: $git-color;
										color: $git-color;
										float: right;

										&:hover {
											border-color: lighten($git-color,10%);
											color: lighten($git-color,10%);
										}
									}
								}
							} // nav

						} // .focus
					} // .tiles
				}

			} // section#work

			// About me sections
			&#about-me {
				background-color: #f5e9d5;
				overflow: hidden;
				@include gradient-vertical(#f5e9d5,#f5e9d5);

				.container {
					position: absolute;
					bottom: 0;
					top: 0;
					left: 50%;
					text-align: right;
					@include translateX(-50%);

					.title {
						z-index: 1;
					}

					.text {
						display: inline-block;
						font-size: 24px;
						font-weight: 300;
						margin-top: 300px;
						position: relative;
						width: 70%;
						z-index: 2;

						&::before {
							content: '';
							float: left;
							width: 200px;
							height: 600px;
							@include shape-outside(polygon(0% 0%, 100% 100%, 0 100%));
						}
					}
				}

				.my-desk {
					position: absolute;
					width: 1920px;
					height: 100%;
					top: 0;
					@include translateX(-50%);

					.me {
						background-image: url(../images/about.png);
						background-position: bottom;
						background-repeat: no-repeat;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						z-index: 1;
					}

					.video {
						bottom: 429px;
						left: 50%;
						position: absolute;
						width: 660px;
						height: 375px;
						@include translate(-50%,0);

						video {
							display: block;
							width: 100%;
						}
					}
				} // .my-desk
			} // section#about-me

			&#contact {
				background-color: #272125;
				overflow: hidden;

				.buttons {
					position: absolute;
					left: 20%;
					right: 20%;
					top: 50%;
					z-index: 1;
					@include translateY(-50%);

					.button {
						float: left;
						width: calc(25% - 20px);
						margin: 0 10px;
						height: 200px;
						position: relative;

						i {
							color: #fff;
							font-size: 80px;
							left: 50%;
							top: 50%;
							position: absolute;
							z-index: 1;
							@include translate(-50%,-50%);
						}

						&::before {
							border-radius: 5px;
							content: '';
							opacity: 0.7;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							@include transition(all 300ms ease);
						}

						&.twitter {

							&::before {
								background-color: #2ba9e1;
							}
						}

						&.github {

							&::before {
								background-color: #3f4042;
							}
						}

						&.linkedin {

							&::before {
								background-color: #007bb5;
							}
						}

						&.dribbble {

							&::before {
								background-color: #c6376d;
							}
						}

						&:hover {

							&::before {
								opacity: 1;
							}
						}
					}
				} // .buttons

				.video {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;

					video {
						height: 100%;
						opacity: 0.03;
						position: absolute;
						left: 50%;
						@include translateX(-50%);
					}
				}
			}
		} // section
	}

	// Body with navigation active
	&.nav-active {

		.navigation {

			.hamburger {
				width: 300px;
			}

			nav {
				@include translate3d(40px, 0, 0);
			}
		}

		.sections {

			section {
				@include transform(translateX(300px) translateZ(-100px) rotateY(-10deg));

				&#work {

					.my-work {

						.item {

							&:before {
								@include translateZ(-100px);
							}
						}
					}
				}
			}
		}
	} // body.nav-active

	// 1080p
	@media only screen and (max-width: 1920px) {
		.sections {

			section {

				&#intro {

					.text {
						bottom: 15%;

						.title {
							font-size: 78px;
						}

						.sub-title {
							font-size: 28px;
						}
					}
				}

				&#about-me {

					.container {

						.text {
							font-size: 22px;
							margin-top: 70px;
							width: 57%;
						}
					}
				}

				&#contact {

					.buttons {

						.button {
							height: 250px;
						}
					}
				}
			}
		}
	}

	@media only screen and (max-width: 1600px) and (max-height: 900px) {
		.sections {

			section {

				&#about-me {

					.container {

						.title {
							font-size: 70px;
							text-align: right;

							&::before,
							&::after {
								content: none;
							}
						}

						.text {
							margin-top: 0;

							&::before {
								width: 420px;
							}
						}
					}
				}
			}
		}
	}

	// Tablet landscape
	@media only screen and (max-width : 1440px) {
		.sections {

			section {

				&#intro {

					.text {
						right:5%;
						bottom:12%;

						.title {
							font-size: 68px;
						}
					}
				}

				&#work {

					.container {

						.tiles {

							.focus {

								figure {
									width: calc(50% - 40px);
								}

								article {
									width: 50%;
								}
							}
						}
					}
				}

				&#about-me {

					.container {
						padding-top: 30px;

						.title {
							font-size: 70px;
							text-align: right;

							&::before,
							&::after {
								content: none;
							}
						}

						.text {
							margin-top: 0;

							&::before {
								width: 420px;
							}
						}
					}

					.my-desk {
						@include translateX(-52%);
					}
				}

				&#contact {

					.buttons {

						.button {
							margin: 10px;
							height: 200px;
							width: calc(50% - 20px);

							i {
								font-size: 70px;
							}
						}
					}
				}
			}
		}
	}

	// Tablet portrait
	@media only screen and (max-width : 768px) {
		.sections {

			section {

				.container {
					min-width: 768px;

					.title {
						font-size: 60px;
					}
				}

				&#intro {

					.text {
						right:5%;
						bottom:20%;

						.title {
							font-size: 68px;
						}

						.sub-title {
							font-size: 24px;
						}
					}
				}

				&#work {

					.container {

						p {
							font-size: 18px;
						}

						.tiles {

							.focus {
								left: 10px;
								right: 10px;
								padding-left: 30px;
								padding-bottom: 90px;

								article {

									h1 {
										font-size: 32px;
									}
								}

								figure {
									display: block;
									margin: 0 auto 20px;
									left: 0;
									top: 0;
									position: relative;
									width: 80%;
								}
							}

							.tile {
								width: calc(50% - 20px);
							}
						}
					}
				}

				&#about-me {
					height: 720px;

					.container {

						.title {
							font-size: auto;
							text-align: center;
							z-index: 1;

							&::before,
							&::after {
								content: '';
							}
						}

						.text {
							padding: 0 40px;
							text-align: center;
							width: auto;

							&:before {
								content: none;
							}
						}
					}

					.my-desk {
						height: 670px;
						position: relative;
						width: 768px;
						@include translateX(0);

						.me {
							@include background-size;
						}

						.video {
							display: none;
						}
					}
				}

			}
		}
	}

	// Small screens
	@media only screen and (max-width : 414px) {

		&.nav-active .sections section {
			@include transform(translateX(200px) translateZ(-100px));
		}

		.sections {

			section {

				.container {
					min-width: 320px;

					.title {
						font-size: 34px;
					}
				}

				&#intro {

					.text {
						left: 5%;
						right:5%;
						bottom:7%;

						.title,
						.sub-title {
							text-align: center;
						}

						.title {
							font-size: 38px;
						}

						.sub-title {
							font-size: 22px;
						}
					}
				}

				&#work {

					.container {

						p {
							font-size: 16px;
						}

						.tiles {

							.focus {

								article {
									padding-bottom: 0;

									.badges {
										display: none;
									}
								}
							}
						}
					}
				}

				&#about-me {

					.container {

						.text {
								font-size: 16px;
						}
					}

					.my-desk {
						height: 340px;
						min-width: 320px;
						max-width: 414px;
					}
				}

				&#contact {

					.buttons {

						.button {
							margin: 10px;
							height: 110px;

							i {
								font-size: 60px;
							}
						}
					}
				}
			}
		}
	}
}
