@import "mkcins";
@import "reset";
@import "standard";

@include keyframes(text-fold-in){
	from {
		@include rotateX(110deg);
	}

	to {
		@include rotateX(0deg);
	}
}

body {
	background-color: #252a33;
	height:100vh;

	.navigation {

		// The hamburger
		.hamburger {
			$padding: 15px;

			background-color: rgba(#000, 0.2);
			cursor: pointer;
			padding: $padding;
			position: fixed;
			top: 0;
			left: 0;
			width:60px;
			height: 60px;
			z-index: 10000;
			@include user-select(none);

			@mixin line() {
				background-color: #fff;
				height: 3px;
				position: absolute;
			}

			.line {
				top:50%;
				left: $padding;
				right: $padding;
				@include translate(0, -50%);
				@include line;

				&:before,
				&:after {
					content: '';
					left: 0;
					right: 0;
					@include line;
				}

				&:before {
					bottom: calc(100% + 5px);
				}

				&:after {
					top: calc(100% + 5px);
				}
			}
		}

		nav {
			top:100px;
			position: fixed;
			@include transition(all 300ms ease);
			@include translate3d(-200px, 0, 100px);

			ul {
				list-style:none;

				li {
					margin-bottom: 20px;

					a {
						color: #fff;
						display: block;
						font-size: 34px;
						padding: 5px;

						@media only screen and (max-width : 1024px) {

							& {
								font-size: 20px;
							}
						}
					}
				}
			}
		}

	} // .navigation

	.sections {
		overflow: hidden;
		@include perspective(3000px);

		section {
			min-height:100vh;
			position: relative;
			width:100%;
			@include transform-origin(100%, 50%);
			@include transition(all 300ms ease);

			.container {
				margin: 0 auto;
				min-width: 960px;
				max-width: 1100px;
				padding: 50px 0;

				.title {
					font-family: 'Lato';
					font-size: 98px;
					font-weight: 100;
				}

				h2 {
					font-size: 30px;
					font-weight: 300;
				}
			}

			// Intro section
			&#intro {
				background-color: darken(#385B7F,40%);
				@include transform-style(preserve-3d);

				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}

				&:before {
					background: url(../images/intro-bg.jpg) center;
					background-size: cover;
					@include blur(0);
				}

				&:after {
					background-color: rgba(#385B7F,0.3);
				}

				.text {
					position: absolute;
					bottom: 20%;
					right: 20%;
					text-align: right;
					z-index: 1;
					@include transform-style(preserve-3d);
					@include translate3d(0,-50%, 100px);

					.title,
					.sub-title {
						font-weight: 100;
						@include backface-visibility(hidden);
						@include transform-origin(50%,0);
					}

					.title {
						color: #fff;
						font-size: 78px;
						@include animation(text-fold-in 700ms ease 300ms 1 both);

						.domain {
							color: #eee;
						}
					}

					.sub-title {
						color: #fff;
						font-size: 34px;
						font-weight: 300;
						@include animation(text-fold-in 700ms ease 700ms 1 both);

						.location {
							color: #ff4f79;
						}
					}

					@media only screen and (max-width : 1920px) {

						& {
							bottom: 25%;

							.title {
								font-size: 78px;
							}

							.sub-title {
								font-size: 28px;
							}
						}
					}

					@media only screen and (max-width : 1024px) {

						& {
							right:5%;
							bottom:24%;

							.title {
								font-size: 68px;
							}
						}
					}

					@media only screen and (max-width : 768px) {
						& {
							right:5%;
							bottom:28%;

							.title {
								font-size: 68px;
							}

							.sub-title {
								font-size: 24px;
							}
						}
					}

					@media only screen and (max-width : 414px) {
						& {
							left: 5%;
							right:5%;
							bottom:25%;

							.title,
							.sub-title {
								text-align: center;
							}

							.title {
								font-size: 38px;
							}

							.sub-title {
								font-size: 22px;
							}
						}
					}
				}
			}

			// Work section
			&#work {
				@include gradient-radial(#fff,#ddd);

				$translate-z-value: 500px;

				.tiles {
					margin-top: 50px;
					position: relative;
					@include clearfix;
					@include perspective(2000px);
					@include transform-style(preserve-3d);

					.tile {
						border-radius: 3px;
						box-shadow: 0 0 3px rgba(#000,0.1);
						cursor: pointer;
						float: left;
						margin: 10px;
						width: calc(33.33% - 20px);
						@include transition(all 300ms ease);

						img {
							display: block;
							width: 100%;
						}
					}

					// When an item is clicked
					&.focus-active {

						.tile {
							opacity: 0.05;
							@include translateZ(-$translate-z-value);
						}

						.focus {
							opacity: 1;
							pointer-events: all;
							@include translateZ(0);
						}
					}

					.focus {
						background-color: rgba(#fff,0.6);
						box-shadow: 0 1px 5px rgba(#000,0.1);
						top: 0;
						right: 0;
						left: 0;
						opacity: 0;
						padding: 30px;
						padding-left: 550px;
						padding-bottom: 140px;
						pointer-events: none;
						position: absolute;
						@include backface-visibility(hidden);
						@include transition(all 300ms ease);
						@include translateZ($translate-z-value);

						// Focused image container
						figure {
							box-shadow: 0 1px 5px rgba(#000,0.1);
							top: 20px;
							left: 20px;
							width: 500px;
							position: absolute;

							a {
								display: block;
								@include transition(all 300ms ease);

								img {
									display: block;
									width: 100%;
								}

								&:hover {
								}
							}
						}

						article {
							max-height: 325px;
							padding-bottom: 70px;
							position: relative;

							h1 {
								font-size: 40px;
								font-weight: 300;
							}

							p {
								color: #666;
								margin: 10px 0;
							}

							.badges {
								position: absolute;
								bottom: 0;
								@include clearfix;

								.badge {
									background-color: #fff;
									border:1px solid #bbc1cc;
									border-radius: 50%;
									color: #6e7f95;
									float: left;
									margin-right: 10px;
									font-size: 25px;
									position: relative;
									height: 50px;
									width: 50px;
									@include transition(all 300ms ease);

									i {
										position: absolute;
										left: 50%;
										top: 50%;
										@include translate(-50%,-50%);
									}

									&:hover {

										&.html {
											$color: #f55;
											border-color: $color;
											color: $color;
										}

										&.css {
											$color: #0499d7;
											border-color: $color;
											color: $color;
										}

										&.audio {
											$color: #17b153;
											border-color: $color;
											color: $color;
										}

										&.video {
											$color: #fba600;
											border-color: $color;
											color: $color;
										}
									}
								} // .badges .badge
							} // .badges
						} // article


						// Focused item bottom bar
						nav {
							background: #31343F;
							position: absolute;
							right: 0;
							bottom: 0;
							left: 0;
							padding: 22px;

							.button {
								border: 1px solid;
								border-radius: 5px;
								cursor: pointer;
								display: inline-block;
								padding: 5px 10px;
								@include user-select(none);

								&:hover {
									background-color: lighten(#31343F,3%);
								}

								&.back {
									border-color: $color-hyperlink;

									&:hover {
										border-color: lighten($color-hyperlink, 5%);
										color: lighten($color-hyperlink, 5%);
									}
								}

								&.github {
									$git-color: #26a0d9;
									border-color: $git-color;
									color: $git-color;
									float: right;

									&:hover {
										border-color: lighten($git-color,10%);
										color: lighten($git-color,10%);
									}
								}
							}
						} // nav

					} // .focus
				} // .tiles

				.experience {
					margin-top: 30px;

					.bars {
						margin-top: 30px;

						.bar {
							background: #31343F;
							padding: 15px 20px;
							position: relative;

							.text {
								color: #fff;
								font-size: 30px;
								font-weight: 100;
								position: relative;
								z-index: 1;
							}

							.progress {
								position: absolute;
								top: 0;
								bottom: 0;
								left: 0;
								width: 0;
								@include transition(width 500ms ease);
							}

						} // .bar

						&.active {

							.bar {

								&.html {

									.progress {
										background-color: #E44D26;
										width: 98%;
									}
								}

								&.sass {

									.progress {
										background-color: #c6538c;
										width: 98%;
									}
								}

								&.css {

									.progress {
										background-color: #1572B6;
										width: 98%;
									}
								}

								&.js {

									.progress {
										background-color: #F0DB4F;
										width: 80%;
									}
								}
							}
						}
					} // .bars
				}

			} // section.work
		} // section
	}

	&.nav-active {

		nav {
			@include translate3d(40px, 0, 0);
		}

		.sections {

			section {
				@include transform(translateX(10%) rotateY(-30deg));

				@media only screen and (max-width : 414px) {
					@include transform(translateX(200px) rotateY(-30deg));
				}

				&#work {

					.my-work {

						.item {

							&:before {
								@include translateZ(-100px);
							}
						}
					}
				}
			}
		}
	}
}
