html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
}

#wrapper {
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:#0c0309;
    overflow:hidden;
}
.shadow {
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	box-shadow:0px 0px 100px #000 inset;
	z-index:10;
}

.tiles {
	position: absolute;
	left: -10%;
	right: -10%;
	-webkit-perspective: 400;
}

.mosiac {
    width:100px;
    height:100px;
    border:1px solid #0c0309;
    box-shadow:0px 0px 50px rgba(0,0,0,0.5) inset;
    float:left;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    border-radius:3px;
}

.logo {
	width:780px;
	height:390px;
	background:url(/images/logo.png) no-repeat;
	position:fixed;
	left:50%;
	top:50%;
	margin:-195px 0 0 -390px;
	z-index:1000;
}

.red {
    animation-name: tileRed;
	animation-duration: 4s;
	animation-iteration-count: infinite;
    -moz-animation-name: tileRed;
	-moz-animation-duration: 4s;
	-moz-animation-iteration-count: infinite;
    -webkit-animation-name: tileRed;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
    -ms-animation-name: tileRed;
	-ms-animation-duration: 4s;
	-ms-animation-iteration-count: infinite;
}

@keyframes tileRed {
    0%      {background-color:#ff6960;}
    25%     {background-color:#ff3e32; transform:translateZ(10px); z-index:100;}
    75%     {background-color:#e32c21;}
    100%    {background-color:#ff6960;}
}

@-webkit-keyframes tileRed {
    0%      {background-color:#ff6960;}
    25%     {background-color:#ff3e32; -webkit-transform:translateZ(10px); z-index:100;}
    75%     {background-color:#e32c21;}
    100%    {background-color:#ff6960;}
}

@-moz-keyframes tileRed {
    0%      {background-color:#ff6960;}
    25%     {background-color:#ff3e32; -moz-transform:translateZ(10px); z-index:100;}
    75%     {background-color:#e32c21;}
    100%    {background-color:#ff6960;}
}

@-ms-keyframes tileRed {
    0%      {background-color:#ff6960;}
    25%     {background-color:#ff3e32; -ms-transform:translateZ(10px); z-index:100;}
    75%     {background-color:#e32c21;}
    100%    {background-color:#ff6960;}
}

.orange {
    animation-name: tileOrange;
	animation-duration: 6s;
	animation-iteration-count: infinite;
    -moz-animation-name: tileOrange;
	-moz-animation-duration: 6s;
	-moz-animation-iteration-count: infinite;
    -webkit-animation-name: tileOrange;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: infinite;
    -ms-animation-name: tileOrange;
	-ms-animation-duration: 6s;
	-ms-animation-iteration-count: infinite;
}

@keyframes tileOrange {
    0%      {background-color:#ff6113;}
    25%     {background-color:#ff7a38; transform:translateZ(8px); z-index:90;}
    75%     {background-color:#eb7b43;}
    100%    {background-color:#ff6113;}
}

@-webkit-keyframes tileOrange {
    0%      {background-color:#ff6113;}
    25%     {background-color:#ff7a38; -webkit-transform:translateZ(8px); z-index:90;}
    75%     {background-color:#eb7b43;}
    100%    {background-color:#ff6113;}
}

@-moz-keyframes tileOrange {
    0%      {background-color:#ff6113;}
    25%     {background-color:#ff7a38; -moz-transform:translateZ(8px); z-index:90;}
    75%     {background-color:#eb7b43;}
    100%    {background-color:#ff6113;}
}

@-ms-keyframes tileOrange {
    0%      {background-color:#ff6113;}
    25%     {background-color:#ff7a38; -ms-transform:translateZ(8px); z-index:90;}
    75%     {background-color:#eb7b43;}
    100%    {background-color:#ff6113;}
}

.darkyellow {
    animation-name: tileDarkYellow;
	animation-duration: 3s;
	animation-iteration-count: infinite;
    -moz-animation-name: tileDarkYellow;
	-moz-animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
    -webkit-animation-name: tileDarkYellow;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
    -ms-animation-name: tileDarkYellow;
	-ms-animation-duration: 3s;
	-ms-animation-iteration-count: infinite;
}

@keyframes tileDarkYellow {
    0%      {background-color:#f98835;}
    25%     {background-color:#f3a66d; transform:translateZ(8px); z-index:90;}
    75%     {background-color:#ea8236;}
    100%    {background-color:#f98835;}
}

@-webkit-keyframes tileDarkYellow {
    0%      {background-color:#f98835;}
    25%     {background-color:#f3a66d; -webkit-transform:translateZ(8px); z-index:90;}
    75%     {background-color:#ea8236;}
    100%    {background-color:#f98835;}
}

@-moz-keyframes tileDarkYellow {
    0%      {background-color:#f98835;}
    25%     {background-color:#f3a66d; -moz-transform:translateZ(8px); z-index:90;}
    75%     {background-color:#ea8236;}
    100%    {background-color:#f98835;}
}

@-ms-keyframes tileDarkYellow {
    0%      {background-color:#f98835;}
    25%     {background-color:#f3a66d; -ms-transform:translateZ(8px); z-index:90;}
    75%     {background-color:#ea8236;}
    100%    {background-color:#f98835;}
}

.yellow {
    animation-name: tileYellow;
	animation-duration: 10s;
	animation-iteration-count: infinite;
    -moz-animation-name: tileYellow;
	-moz-animation-duration: 10s;
	-moz-animation-iteration-count: infinite;
    -webkit-animation-name: tileYellow;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
    -ms-animation-name: tileYellow;
	-ms-animation-duration: 10s;
	-ms-animation-iteration-count: infinite;
}

@keyframes tileYellow {
    0%      {background-color:#f38a26;}
    25%     {background-color:#f3a66d; transform:translateZ(6px); z-index:80;}
    75%     {background-color:#FABA43;}
    100%    {background-color:#f38a26;}
}

@-webkit-keyframes tileYellow {
    0%      {background-color:#f38a26;}
    25%     {background-color:#f3a66d; -webkit-transform:translateZ(6px); z-index:80;}
    75%     {background-color:#FABA43;}
    100%    {background-color:#f38a26;}
}

@-moz-keyframes tileYellow {
    0%      {background-color:#f38a26;}
    25%     {background-color:#f3a66d; -moz-transform:translateZ(6px); z-index:80;}
    75%     {background-color:#FABA43;}
    100%    {background-color:#f38a26;}
}

@-ms-keyframes tileYellow {
    0%      {background-color:#f38a26;}
    25%     {background-color:#f3a66d; -ms-transform:translateZ(6px); z-index:80;}
    75%     {background-color:#FABA43;}
    100%    {background-color:#f38a26;}
}

.creme {
    animation-name: tileCreme;
	animation-duration: 4s;
	animation-iteration-count: infinite;
    -moz-animation-name: tileCreme;
	-moz-animation-duration: 4s;
	-moz-animation-iteration-count: infinite;
    -webkit-animation-name: tileCreme;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
    -ms-animation-name: tileCreme;
	-ms-animation-duration: 4s;
	-ms-animation-iteration-count: infinite;
}

@keyframes tileCreme {
    0%      {background-color:#fd9779;}
    25%     {background-color:#FFBCA8; transform:translateZ(8px); z-index:90;}
    75%     {background-color:#E0C8AD;}
    100%    {background-color:#fd9779;}
}

@-webkit-keyframes tileCreme {
    0%      {background-color:#fd9779;}
    25%     {background-color:#FFBCA8; -webkit-transform:translateZ(8px); z-index:90;}
    75%     {background-color:#E0C8AD;}
    100%    {background-color:#fd9779;}
}

@-moz-keyframes tileCreme {
    0%      {background-color:#fd9779;}
    25%     {background-color:#FFBCA8; -moz-transform:translateZ(8px); z-index:90;}
    75%     {background-color:#E0C8AD;}
    100%    {background-color:#fd9779;}
}

@-ms-keyframes tileCreme {
    0%      {background-color:#fd9779;}
    25%     {background-color:#FFBCA8; -ms-transform:translateZ(8px); z-index:90;}
    75%     {background-color:#E0C8AD;}
    100%    {background-color:#fd9779;}
}

.pink {
    animation-name: tilePink;
	animation-duration: 6s;
	animation-iteration-count: infinite;
    -moz-animation-name: tilePink;
	-moz-animation-duration: 6s;
	-moz-animation-iteration-count: infinite;
    -webkit-animation-name: tilePink;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: infinite;
    -ms-animation-name: tilePink;
	-ms-animation-duration: 6s;
	-ms-animation-iteration-count: infinite;
}

@keyframes tilePink {
    0%      {background-color:#ff7e8d;}
    25%     {background-color:#FF5E71; transform:translateZ(6px); z-index:80;}
    75%     {background-color:#FFC7CD;}
    100%    {background-color:#ff7e8d;}
}

@-webkit-keyframes tilePink {
    0%      {background-color:#ff7e8d;}
    25%     {background-color:#FF5E71; -webkit-transform:translateZ(6px); z-index:80;}
    75%     {background-color:#FFC7CD;}
    100%    {background-color:#ff7e8d;}
}

@-moz-keyframes tilePink {
    0%      {background-color:#ff7e8d;}
    25%     {background-color:#FF5E71; -moz-transform:translateZ(6px); z-index:80;}
    75%     {background-color:#FFC7CD;}
    100%    {background-color:#ff7e8d;}
}

@-ms-keyframes tilePink {
    0%      {background-color:#ff7e8d;}
    25%     {background-color:#FF5E71; -ms-transform:translateZ(6px); z-index:80;}
    75%     {background-color:#FFC7CD;}
    100%    {background-color:#ff7e8d;}
}

.lightblue {
    animation-name: tileLightBlue;
	animation-duration: 5s;
	animation-iteration-count: infinite;
    -moz-animation-name: tileLightBlue;
	-moz-animation-duration: 5s;
	-moz-animation-iteration-count: infinite;
    -webkit-animation-name: tileLightBlue;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
    -ms-animation-name: tileLightBlue;
	-ms-animation-duration: 5s;
	-ms-animation-iteration-count: infinite;
}

@keyframes tileLightBlue {
    0%      {background-color:#C7FCFF;}
    25%     {background-color:#A8FBFF;}
    75%     {background-color:#DBFDFF;}
    100%    {background-color:#C7FCFF;}
}

@-webkit-keyframes tileLightBlue {
    0%      {background-color:#C7FCFF;}
    25%     {background-color:#A8FBFF;}
    75%     {background-color:#DBFDFF;}
    100%    {background-color:#C7FCFF;}
}

@-moz-keyframes tileLightBlue {
    0%      {background-color:#C7FCFF;}
    25%     {background-color:#A8FBFF;}
    75%     {background-color:#DBFDFF;}
    100%    {background-color:#C7FCFF;}
}

@-ms-keyframes tileLightBlue {
    0%      {background-color:#C7FCFF;}
    25%     {background-color:#A8FBFF;}
    75%     {background-color:#DBFDFF;}
    100%    {background-color:#C7FCFF;}
}

.blue {
    animation-name: tileBlue;
	animation-duration: 3s;
	animation-iteration-count: infinite;
    -moz-animation-name: tileBlue;
	-moz-animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
    -webkit-animation-name: tileBlue;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
    -ms-animation-name: tileBlue;
	-ms-animation-duration: 5s;
	-ms-animation-iteration-count: infinite;
}

@keyframes tileBlue {
    0%      {background-color:#2AC1C9;}
    25%     {background-color:#7DEFF5;}
    75%     {background-color:#4FD4DB; transform:translateZ(4px); z-index:70;}
    100%    {background-color:#2AC1C9;}
}

@-webkit-keyframes tileBlue {
    0%      {background-color:#2AC1C9;}
    25%     {background-color:#7DEFF5;}
    75%     {background-color:#4FD4DB; -webkit-transform:translateZ(4px); z-index:70;}
    100%    {background-color:#2AC1C9;}
}

@-moz-keyframes tileBlue {
    0%      {background-color:#2AC1C9;}
    25%     {background-color:#7DEFF5;}
    75%     {background-color:#4FD4DB; -moz-transform:translateZ(4px); z-index:70;}
    100%    {background-color:#2AC1C9;}
}

@-ms-keyframes tileBlue {
    0%      {background-color:#2AC1C9;}
    25%     {background-color:#7DEFF5;}
    75%     {background-color:#4FD4DB; -ms-transform:translateZ(4px); z-index:70;}
    100%    {background-color:#2AC1C9;}
}

.green {
    animation-name: tileGreen;
	animation-duration: 3s;
	animation-iteration-count: infinite;
    -moz-animation-name: tileGreen;
	-moz-animation-duration: 3s;
	-moz-animation-iteration-count: infinite;
    -webkit-animation-name: tileGreen;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
    -ms-animation-name: tileGreen;
	-ms-animation-duration: 3s;
	-ms-animation-iteration-count: infinite;
}

@keyframes tileGreen {
    0%      {background-color:#52B36F;}
    25%     {background-color:#2EDB62;}
    75%     {background-color:#81F7A4;}
    100%    {background-color:#52B36F;}
}

@-webkit-keyframes tileGreen {
    0%      {background-color:#52B36F;}
    25%     {background-color:#2EDB62;}
    75%     {background-color:#81F7A4;}
    100%    {background-color:#52B36F;}
}

@-moz-keyframes tileGreen {
    0%      {background-color:#52B36F;}
    25%     {background-color:#2EDB62;}
    75%     {background-color:#81F7A4;}
    100%    {background-color:#52B36F;}
}

@-ms-keyframes tileGreen {
    0%      {background-color:#52B36F;}
    25%     {background-color:#2EDB62;}
    75%     {background-color:#81F7A4;}
    100%    {background-color:#52B36F;}
}

.darkgreen {
    animation-name: tileDarkGreen;
	animation-duration: 5s;
	animation-iteration-count: infinite;
    -moz-animation-name: tileDarkGreen;
	-moz-animation-duration: 5s;
	-moz-animation-iteration-count: infinite;
    -webkit-animation-name: tileDarkGreen;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
    -ms-animation-name: tileDarkGreen;
	-ms-animation-duration: 5s;
	-ms-animation-iteration-count: infinite;
}

@keyframes tileDarkGreen {
    0%      {background-color:#638F70;}
    25%     {background-color:#4B805B;}
    75%     {background-color:#88A892;}
    100%    {background-color:#638F70;}
}

@-webkit-keyframes tileDarkGreen {
    0%      {background-color:#638F70;}
    25%     {background-color:#4B805B;}
    75%     {background-color:#88A892;}
    100%    {background-color:#638F70;}
}

@-moz-keyframes tileDarkGreen {
    0%      {background-color:#638F70;}
    25%     {background-color:#4B805B;}
    75%     {background-color:#88A892;}
    100%    {background-color:#638F70;}
}

@-ms-keyframes tileDarkGreen {
    0%      {background-color:#638F70;}
    25%     {background-color:#4B805B;}
    75%     {background-color:#88A892;}
    100%    {background-color:#638F70;}
}

.clear {
    clear:both;
}

#ieHate {
	display:none;
}

/* IE hate */
.no-cssanimations body {
	background:#C34032 url(/images/grain.png) repeat;
}
.no-cssanimations #wrapper {
	display:none;
}
.no-cssanimations #ieHate {
	display:block;
	width:600px;
	height:240px;
	position:fixed;
	left:50%;
	top:50%;
	margin:-120px 0 0 -300px;
}