@charset "utf-8";

@font-face {
    font-family: 'Proxima Nova';
    src: url('proximanova-regular-webfont.eot');
    src: url('proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-regular-webfont.woff') format('woff'),
         url('proximanova-regular-webfont.ttf') format('truetype'),
         url('proximanova-regular-webfont.svg#ProximaNovaRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('proximanova-light-webfont.eot');
    src: url('proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-light-webfont.woff') format('woff'),
         url('proximanova-light-webfont.ttf') format('truetype'),
         url('proximanova-light-webfont.svg#ProximaNovaLtRegular') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('proximanova-bold-webfont.eot');
    src: url('proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-bold-webfont.woff') format('woff'),
         url('proximanova-bold-webfont.ttf') format('truetype'),
         url('proximanova-bold-webfont.svg#ProximaNovaRgBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	height:100%;
}
body {
	background:url(../images/grain.png) repeat, -webkit-gradient(linear,left top,left bottom,color-stop(0, #DF602E),color-stop(1, #C34032));
	background:url(../images/grain.png) repeat, -webkit-linear-gradient(top, #DF602E 0%, #C34032 100%);
	background:url(../images/grain.png) repeat,    -moz-linear-gradient(top, #DF602E 0%, #C34032 100%);
	background:url(../images/grain.png) repeat,     -ms-linear-gradient(top, #DF602E 0%, #C34032 100%);
	background:url(../images/grain.png) repeat,      -o-linear-gradient(top, #DF602E 0%, #C34032 100%);
	background:url(../images/grain.png) repeat,         linear-gradient(top, #DF602E 0%, #C34032 100%);
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	overflow:hidden;
	font-size:3em;
	font-family:'Lobster', cursive;
	color:#fff;
}
a {
	color:#fff;
	text-decoration:none;
	transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-ms-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
}
a:hover {
	color:#ffcf5c;
}
p {
	font-family:"Proxima Nova", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size:0.4em;
	line-height:1.4em;
	text-align:justify;
	margin:20px 0;
}
p a {
	text-shadow:0 2px 1px rgba(0, 0, 0, 0.5);
}
#wrapper {
	position:absolute;
	left:50%;
	top:50%;
	perspective:              4000px;
	transform:                scale(0.25);
	transform-origin:         left top;
	transform-style:          preserve-3d;
	transition:               all 1s ease-in-out;
	-webkit-perspective:      4000px;
	-webkit-transform:        scale(0.25);
	-webkit-transform-origin: left top;
	-webkit-transform-style:  preserve-3d;
	-webkit-transition:       all 1s ease-in-out;
	-moz-perspective:         4000px;
	-moz-transform:           scale(0.25);
	-moz-transform-origin:    left top;
	-moz-transform-style:     preserve-3d;
	-moz-transition:          all 1s ease-in-out;
	-ms-perspective:          4000px;
	-ms-transform:            scale(0.25);
	-ms-transform-origin:     left top;
	-ms-transform-style:      preserve-3d;
	-ms-transition:           all 1s ease-in-out;
	-o-perspective:           4000px;
	-o-transform:             scale(0.25);
	-o-transform-origin:      left top;
	-o-transform-style:       preserve-3d;
	-o-transition:            all 1s ease-in-out;
}
#wrapper .goBack {
	position:absolute;
	right:0;
	top:10px;
	font-size:0.7em;
	cursor:pointer;
}
#wrapper .goBack:hover {
	text-shadow:0 1px 0 #610E0E, 0 5px 10px rgba(0,0,0,0.4);
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
}

/*****************/
/* Camera styles */
/*****************/

#camera {
	transform:                rotateZ(0deg) rotateY(0deg) rotateX(0deg) translate3d(0px, 0px, 0px);
	transform-origin:         left top;
	transform-style:          preserve-3d;
	transition:               all 1s ease-in-out 0ms;
	-webkit-transform:        rotateZ(0deg) rotateY(0deg) rotateX(0deg) translate3d(0px, 0px, 0px);
	-webkit-transform-origin: left top;
	-webkit-transform-style:  preserve-3d;
	-webkit-transition:       all 1s ease-in-out 0ms;
	-moz-transform:           rotateZ(0deg) rotateY(0deg) rotateX(0deg) translate3d(0px, 0px, 0px);
	-moz-transform-origin:    left top;
	-moz-transform-style:     preserve-3d;
	-moz-transition:          all 1s ease-in-out 0ms;
	-ms-transform:            rotateZ(0deg) rotateY(0deg) rotateX(0deg) translate3d(0px, 0px, 0px);
	-ms-transform-origin:     left top;
	-ms-transform-style:      preserve-3d;
	-ms-transition:           all 1s ease-in-out 0ms;
	-o-transform:             rotateZ(0deg) rotateY(0deg) rotateX(0deg) translate3d(0px, 0px, 0px);
	-o-transform-origin:      left top;
	-o-transform-style:       preserve-3d;
	-o-transition:            all 1s ease-in-out 0ms;
}
#camera.cameraSlideTwo {
	transform:         rotateZ(90deg) rotateY(0deg) rotateX(0deg) translate3d(3500px, 0px, 0px);
	-webkit-transform: rotateZ(90deg) rotateY(0deg) rotateX(0deg) translate3d(3500px, 0px, 0px);
	-moz-transform:    rotateZ(90deg) rotateY(0deg) rotateX(0deg) translate3d(3500px, 0px, 0px);
	-ms-transform:     rotateZ(90deg) rotateY(0deg) rotateX(0deg) translate3d(3500px, 0px, 0px);
	-o-transform:      rotateZ(90deg) rotateY(0deg) rotateX(0deg) translate3d(3500px, 0px, 0px);
}
#camera.cameraSlideTwoFocus {
	transform:         rotateZ(90deg) rotateY(0deg) rotateX(0deg) translate3d(5500px, 0px, -3000px);
	-webkit-transform: rotateZ(90deg) rotateY(0deg) rotateX(0deg) translate3d(5500px, 0px, -3000px);
	-moz-transform:    rotateZ(90deg) rotateY(0deg) rotateX(0deg) translate3d(5500px, 0px, -3000px);
	-ms-transform:     rotateZ(90deg) rotateY(0deg) rotateX(0deg) translate3d(5500px, 0px, -3000px);
	-o-transform:      rotateZ(90deg) rotateY(0deg) rotateX(0deg) translate3d(5500px, 0px, -3000px);
}
#camera.cameraSlideThree {
	transform:         rotateZ(-90deg) rotateY(0deg) rotateX(0deg) translate3d(-3500px, 0px, 0px);
	-webkit-transform: rotateZ(-90deg) rotateY(0deg) rotateX(0deg) translate3d(-3500px, 0px, 0px);
	-moz-transform:    rotateZ(-90deg) rotateY(0deg) rotateX(0deg) translate3d(-3500px, 0px, 0px);
	-ms-transform:     rotateZ(-90deg) rotateY(0deg) rotateX(0deg) translate3d(-3500px, 0px, 0px);
	-o-transform:      rotateZ(-90deg) rotateY(0deg) rotateX(0deg) translate3d(-3500px, 0px, 0px);
}
#camera.cameraSlideFour {
	transform:         rotateZ(0deg) rotateY(0deg) rotateX(-80deg) translate3d(0px, 4000px, -1000px);
	-webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(-80deg) translate3d(0px, 4000px, -1000px);
	-moz-transform:    rotateZ(0deg) rotateY(0deg) rotateX(-80deg) translate3d(0px, 4000px, -1000px);
	-ms-transform:     rotateZ(0deg) rotateY(0deg) rotateX(-80deg) translate3d(0px, 4000px, -1000px);
	-o-transform:      rotateZ(0deg) rotateY(0deg) rotateX(-80deg) translate3d(0px, 4000px, -1000px);
}
#camera.cameraSlideFive {
	transform:         rotateZ(0deg) rotateY(0deg) rotateX(80deg) translate3d(0px, -4000px, -1000px);
	-webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(80deg) translate3d(0px, -4000px, -1000px);
	-moz-transform:    rotateZ(0deg) rotateY(0deg) rotateX(80deg) translate3d(0px, -4000px, -1000px);
	-ms-transform:     rotateZ(0deg) rotateY(0deg) rotateX(80deg) translate3d(0px, -4000px, -1000px);
	-o-transform:      rotateZ(0deg) rotateY(0deg) rotateX(80deg) translate3d(0px, -4000px, -1000px);
}
#camera.cameraSlideSix {
	transform:         rotateZ(0deg) rotateY(0deg) rotateX(0deg) translate3d(0px, 0px, -50000px);
	-webkit-transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg) translate3d(0px, 0px, -50000px);
	-moz-transform:    rotateZ(0deg) rotateY(0deg) rotateX(0deg) translate3d(0px, 0px, -50000px);
	-ms-transform:     rotateZ(0deg) rotateY(0deg) rotateX(0deg) translate3d(0px, 0px, -50000px);
	-o-transform:      rotateZ(0deg) rotateY(0deg) rotateX(0deg) translate3d(0px, 0px, -50000px);
}

/* Slide one styles */
#wrapper #slideOne {
	width:780px;
	transform:         translate(-50%, -50%) translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-webkit-transform: translate(-50%, -50%) translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-moz-transform:    translate(-50%, -50%) translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-ms-transform:     translate(-50%, -50%) translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-o-transform:      translate(-50%, -50%) translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(4);
}
#wrapper #slideOne .logo {
	background:url(../images/logo.png) no-repeat;
	width:780px;
	height:390px;
	display:block;
}
#wrapper #slideOne nav {
	margin:50px 0 0;
	font-size:0.7em;
	text-align:center;
}
#wrapper #slideOne nav a {
	position:relative;
	margin:0 13px;
	display:inline-block;
	cursor:pointer;
}
#wrapper #slideOne nav a:hover {
	text-shadow:0 1px 0 #610E0E, 0 5px 10px rgba(0,0,0,0.4);
	transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
}

/* Slide two styles */
#wrapper #slideTwo {
	transform:         translate(-50%, -50%) translate3d(-3500px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-90deg) scale(4);
	-webkit-transform: translate(-50%, -50%) translate3d(-3500px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-90deg) scale(4);
	-moz-transform:    translate(-50%, -50%) translate3d(-3500px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-90deg) scale(4);
	-ms-transform:     translate(-50%, -50%) translate3d(-3500px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-90deg) scale(4);
	-o-transform:      translate(-50%, -50%) translate3d(-3500px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-90deg) scale(4);
	width:960px;
}
#wrapper #slideTwo .websites {
	text-align:center;
	float:left;
}
#wrapper #slideTwo .websites a {
	margin:0px;
	padding:15px;
	background:rgba(255,255,255,0.3);
	border-radius:5px;
	display:inline-block;
	transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	cursor:pointer;
}
#wrapper #slideTwo .websites a:hover {
	background:rgba(255,255,255,0.6);
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
	transform:         scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform:    scale(1.1);
	-ms-transform:     scale(1.1);
	-o-transform:      scale(1.1);
}
#wrapper #slideTwo .websites a img {
	width:280px;
	height:158px;
	float:left;
	border-radius:3px;
}
#wrapper #slideTwo .websites.screenshotSlideOne {

}
#wrapper #slideTwo .websites.screenshotSlideTwo {
	position:absolute;
	transform:translate3d(965px,0,0);
	-webkit-transform:translate3d(965px,0,0);
	-moz-transform:translate3d(965px,0,0);
	-ms-transform:translate3d(965px,0,0);
	-o-transform:translate3d(965px,0,0);
}

/* Slide two focus styles */
#wrapper #slideTwoFocus {
	width:960px;
	transform:         translate(-50%, -50%) translate3d(-5500px, 0px, 3000px) rotateX(0deg) rotateY(0deg) rotateZ(-90deg) scale(4);
	-webkit-transform: translate(-50%, -50%) translate3d(-5500px, 0px, 3000px) rotateX(0deg) rotateY(0deg) rotateZ(-90deg) scale(4);
	-moz-transform:    translate(-50%, -50%) translate3d(-5500px, 0px, 3000px) rotateX(0deg) rotateY(0deg) rotateZ(-90deg) scale(4);
	-ms-transform:     translate(-50%, -50%) translate3d(-5500px, 0px, 3000px) rotateX(0deg) rotateY(0deg) rotateZ(-90deg) scale(4);
	-o-transform:      translate(-50%, -50%) translate3d(-5500px, 0px, 3000px) rotateX(0deg) rotateY(0deg) rotateZ(-90deg) scale(4);
}
#wrapper #slideTwoFocus img {
	float:left;
	margin:20px 20px 0 0;
	padding:15px;
	background:rgba(255,255,255,0.3);
	border-radius:5px;
}
#wrapper #slideTwoFocus #largeFocus {
	width:960px;
	height:650px;
	overflow:hidden;
	border-radius:15px;
}
#wrapper #slideTwoFocus .focusLitFuse {
	background:#999 url(../images/websites_litfuse_large.png) no-repeat;
}
#wrapper #slideTwoFocus .focusAAYou {
	background:#999 url(../images/websites_aayou_large.png) no-repeat;
}
#wrapper #slideTwoFocus .focusSopme {
	background:#999 url(../images/websites_sopme_large.png) no-repeat;
}
#wrapper #slideTwoFocus .focusTSWC {
	background:#999 url(../images/websites_tswc_large.png) no-repeat;
}
#wrapper #slideTwoFocus .focusBlarsa {
	background:#999 url(../images/websites_blarsa_large.png) no-repeat;
}
#wrapper #slideTwoFocus .focusOrchid {
	background:#999 url(../images/websites_orchidsoft_large.png) no-repeat;
}
#wrapper #slideTwoFocus .focusZiggy {
	background:#999 url(../images/websites_ziggychews_large.png) no-repeat;
}
#wrapper #slideTwoFocus .focusWonderFlix {
	background:#999 url(../images/websites_wonderflix_large.png) no-repeat;
}
#wrapper #slideTwoFocus #largeFocus .goBackFocus {
	position:absolute;
	top:0;
	right:0;
	padding:15px 30px;
	background:rgba(0, 0, 0, 0.8);
	border-radius:0 15px;
	font-size:0.7em;
    cursor: pointer;
}
#wrapper #slideTwoFocus #largeFocus .goBackFocus:hover {
}
#wrapper #slideTwoFocus #largeFocus .details {
	padding:20px 50px 10px;
	position:absolute;
	width:350px;
	background:rgba(0, 0, 0, 0.8);
	text-shadow:0 3px 1px #000;
	border-radius:15px 0;
	bottom:0;
	right:0;
}

/* Slide three styles */
#wrapper #slideThree {
	transform:         translate(-50%, -50%) translate3d(3500px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(90deg) scale(4);
	-webkit-transform: translate(-50%, -50%) translate3d(3500px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(90deg) scale(4);
	-moz-transform:    translate(-50%, -50%) translate3d(3500px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(90deg) scale(4);
	-ms-transform:     translate(-50%, -50%) translate3d(3500px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(90deg) scale(4);
	-o-transform:      translate(-50%, -50%) translate3d(3500px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(90deg) scale(4);
	width:960px;
}
#wrapper #slideThree .drawings a {
	margin:0px;
	padding:15px;
	background:rgba(255,255,255,0.3);
	border-radius:5px;
	display:inline-block;
	transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
}
#wrapper #slideThree .drawings a:hover {
	background:rgba(255,255,255,0.6);
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
	transform:         scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform:    scale(1.1);
	-ms-transform:     scale(1.1);
	-o-transform:      scale(1.1);
}
#wrapper #slideThree .drawings a img {
	width:280px;
	height:158px;
	float:left;
}

/* Slide four styles */
#wrapper #slideFour {
	transform:         translate(-50%, -50%) translate3d(0px, -4000px, 1000px) rotateX(80deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-webkit-transform: translate(-50%, -50%) translate3d(0px, -4000px, 1000px) rotateX(80deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-moz-transform:    translate(-50%, -50%) translate3d(0px, -4000px, 1000px) rotateX(80deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-ms-transform:     translate(-50%, -50%) translate3d(0px, -4000px, 1000px) rotateX(80deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-o-transform:      translate(-50%, -50%) translate3d(0px, -4000px, 1000px) rotateX(80deg) rotateY(0deg) rotateZ(0deg) scale(4);
	width:960px;
}
#wrapper #slideFour .video {
	margin:30px auto 0;
	width:600px
}

#wrapper #slideFour .video video {
	width:100%;
	height:auto;
}

/* Slide five styles */
#wrapper #slideFive {
    transform:         translate(-50%, -50%) translate3d(0px, 4000px, 1000px) rotateX(-80deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-webkit-transform: translate(-50%, -50%) translate3d(0px, 4000px, 1000px) rotateX(-80deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-moz-transform:    translate(-50%, -50%) translate3d(0px, 4000px, 1000px) rotateX(-80deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-ms-transform:     translate(-50%, -50%) translate3d(0px, 4000px, 1000px) rotateX(-80deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-o-transform:      translate(-50%, -50%) translate3d(0px, 4000px, 1000px) rotateX(-80deg) rotateY(0deg) rotateZ(0deg) scale(4);
	width:960px;
}
#wrapper #slideFive .showcases a {
	margin:0px;
	padding:15px;
	background:rgba(255,255,255,0.3);
	border-radius:5px;
	display:inline-block;
	transform:scale(1);
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
}
#wrapper #slideFive .showcases a:hover {
	background:rgba(255,255,255,0.6);
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
	transform:         scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform:    scale(1.1);
	-ms-transform:     scale(1.1);
	-o-transform:      scale(1.1);
}
#wrapper #slideFive .showcases a img {
	width:280px;
	height:158px;
	float:left;
}

/* Slide six styles */
#wrapper #slideSix {
	transform:         translate(-50%, -50%) translate3d(0px, 0px, 50000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-webkit-transform: translate(-50%, -50%) translate3d(0px, 0px, 50000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-moz-transform:    translate(-50%, -50%) translate3d(0px, 0px, 50000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-ms-transform:     translate(-50%, -50%) translate3d(0px, 0px, 50000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(4);
	-o-transform:      translate(-50%, -50%) translate3d(0px, 0px, 50000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(4);
	width:800px;
}

#wrapper #slideSix .profilePic {
	border-radius:5px;
	margin:20px 15px 0 0;
	float:left;
	height:250px;
	width:200px;
}

#wrapper #slideSix div {
	text-align:center;
}

#wrapper #slideSix div a {
	margin:0 10px;
}

/* Slide styles */
#wrapper .slides {
	position:absolute;
	transform-style:         preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style:    preserve-3d;
	-ms-transform-style:     preserve-3d;
	-o-transform-style:      preserve-3d;
	transition:         all 1s ease-in-out;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition:    all 1s ease-in-out;
	-ms-transition:     all 1s ease-in-out;
	-o-transition:      all 1s ease-in-out;
	opacity:0;
	visibility:hidden;
}
#wrapper .active {
	opacity:1 !important;
	visibility:visible !important;
}
#wrapper .opacity {
	opacity:0.3 !important;
	visibility:visible !important;
}
.spinLoader {
    animation: spinLoader 1s linear 0s infinite;
    -webkit-animation: spinLoader 1s linear 0s infinite;
    -moz-animation: spinLoader 1s linear 0s infinite;
    -ms-animation: spinLoader 1s linear 0s infinite;
    background: url(../images/spinLoader.png);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}
@keyframes spinLoader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes spinLoader {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes spinLoader {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-ms-keyframes spinLoader {
    0% {
        -ms-transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}
#ieHate {
	display:none;
}

/* IE hate */
.no-cssanimations body, .no-csstransforms3d body, .no-csstransforms body, .no-cssgradients body {
	background:#C34032 url(../images/grain.png) repeat;
}
.no-cssanimations #wrapper, .no-csstransforms3d #wrapper, .no-csstransforms #wrapper, .no-cssgradients #wrapper {
	display:none;
}
.no-cssanimations #ieHate, .no-csstransforms3d #ieHate, .no-csstransforms #ieHate, .no-cssgradients #ieHate {
	display:block;
	width:600px;
	height:240px;
	position:fixed;
	left:50%;
	top:50%;
	margin:-120px 0 0 -300px;
}
